<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnf25_RFsjvu2qtmcEo65rUlguGomwVQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>253211478603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.talkingbird</string>
	<key>PROJECT_ID</key>
	<string>talkingbird-6bcfd</string>
	<key>STORAGE_BUCKET</key>
	<string>talkingbird-6bcfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253211478603:ios:39b274d0b8f57194f8dbce</string>
</dict>
</plist>